:root{
  --green: #306936;
  --yellow: #f7ee1e;
  --grey: #d9d9d9;
  --white : #ffffff;
  --black : #000000;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
}

body {
  width: 100vw; /***width 320px****/
  overflow-x: hidden;
}
/*******section******/
section {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****titre de la page div****/
.title {
  width: auto;
  height: auto;
  text-align: center;
  background: var(--green);
  padding: 1% 5%;
  border-radius: 2vw;
  margin: 3vh 0 3vh;
  outline: 2px solid black;
}

/****titre de la page texte****/
.title p {
  color: var(--white);
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 4vw; 
}

/****************************************MEDIA QUERIES RESPONSIVE NAVBAR**************************************/
/********Passage tablette / telephone en portrait*******/

@media (min-width: 480px) {
  .title-page {
    outline: 3px solid black;
  }
  .title-page p{
    font-size: 3vw;
  }
}

/************AFFICHAGE Tablette****************/
@media (min-width: 767px) {
  .title-page {
    outline: 3.5px solid black;
  }
 
}

/*********AFFICHAGE Tablette/ PC Portable*******/
@media (min-width: 991px) {
  .title-page {
    outline: 4px solid black;
  }
 
}

/************AFFICHAGE PC Portable/PC petit***********/
@media (min-width: 1200px) {
  .title-page {
    outline: 4.5px solid black;
  }
}

/************AFFICHAGE PC moyen***********/
@media (min-width: 1400px) {
  .title-page {
    outline: 6px solid black;
  }
}

/************AFFICHAGE PC grand***********/
@media (min-width: 1600px) {
 
}






/*****div contact***/
.contact-main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
}

/*****div formulaire****/
.contact-form {
  grid-column: 1 /2;
  grid-row: 1 /2;
  width: 85%;
  background-color: #d9d9d9;
  border-radius: 2vw;
  border: none;
  margin: 0 5%;
}
/****formulaire****/
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form form input{
 
}

.contact-form form label{
 
}

.contact-form form span{
 
}