 /************************* Partie de la messagerie *************************/
/* Style de la div principale contenant la messagerie */
.messagerie-div {
    width: 80%;
    height: 80%;
    background: #D9D9D9;
    outline: 4px solid #000000;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.flex-msg-choix{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.message-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/************************PARTIE MESSAGE***************************/

/****************div message**********************/
.messagerie-message{
    width: 60%;
    height: 265px;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    z-index: 2;
}
/**********partie info *********/
.message-top{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #306936;
    border-radius: 25px 25px 0 0;
    outline: 4px solid #000000;
}
/****flex***/
.top-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*icones*/
.top-info img{
    padding-right: 10px;
    height: 35px ;
}
/*Nom-Prenom email et date*/
.top-info p{
    color: white;
    font-size: 25px;
}
/**********partie contenu du message*********/
.message-bottom{
    width: 100%;
    height: 75%;
    background-color: white;
    border-radius: 0 0 25px 25px;
    outline: 4px solid #000000;
}
/*contenu du message*/
.message-bottom p{
    font-size: 22px;
}
/************************PARTIE ACTIONS A DROITE DU MESSAGE***************************/
.messagerie-choix{
    height: 265px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.choix-div{
    position: relative;
    height: 53px;
}
.choix-icon{
    position: relative;
    height: 100%;
    width: 25%;
    background-color: white;
    border-radius: 20px;
    outline: 4px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.choix-icon img{
    height: 45px;
}
.choix-texte{
    top: 0;
    position: absolute;
    left: 15%;
    transform: translateX(0%);
    width: 0%;
    height: 100%;
    background-color: #306936;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    transition: all 0.5s 0.3s ease;
    z-index: 0;
    outline: 4px solid #000000;
}
.btn-choix{
    font-size: 1.8rem;
    font-style: italic;
    color: white;
    font-weight: 900;
    letter-spacing: 0.1em;
    opacity: 0;
    transition: all 0.6s ease;
    padding-right: 10%;
}

.choix-div:hover .choix-texte {
    width: 85%;
    transition: all 0.5s ease;
  }
  .choix-div:hover .btn-choix {
    opacity: 1;
    transition: all 1s 0.2s ease;
  }

  .choix-div:active .choix-texte {
   background-color: #f7ee1e;
   transform: translate(4px);
   width: 75%; 
   left: 13.5%;
   transition: all 0.5s ease-in-out;
  }
  .choix-div:active .btn-choix {
    color: black;
    font-size: 25Px;
    transition: all 0.5s ease-in-out;
   }
 /*https://codepen.io/Oksana_/pen/ELEVEY*/

 /********************************3 CHOIX DE BOITES*****************/
/* Style de la div contenant les boîtes vertes */
.boites-vertdiv {
    margin-bottom: 50px;
    width: 100%;
    height: 110px;
    background: #306936;
    outline: 4px solid #000000;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Style des divs contenant les noms de boîtes */
.boite-choix {
    height: 60%;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    outline: 4px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.boite-choix.active {
  background-color: #f7ee1e;
  outline: 4px solid #fff;
  cursor: pointer;
  transform: translateY(4px);
  transform: scale(0.9);
  letter-spacing: 0em;
}
/* Style des noms de boîtes */
.boite-choix p {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-weight: 700;
}
.boite-choix img{
    height: 50px;
    padding-left: 25px;
}
