/************************************NAV-BAR******************************/
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 90px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
}
/******************Liens gauche et droite nav bar****************/
/******Liens gauche*********/
.links-left,
.links-right {
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.links-left {
  grid-column: 2 / 3;
}
.links-right {
  grid-column: 4 / 5;
}
.links-left ul,
.links-right ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links-left ul li,
.links-right ul li {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links-left ul li a,
.links-right ul li a {
  position: absolute;
  letter-spacing: 0.05em;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.links-left ul li a:hover,
.links-right ul li a:hover {
  background: -webkit-linear-gradient(180deg, #306936 10%, #f7ee1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
}
.page-actuelle {
  background: -webkit-linear-gradient(180deg, #306936 10%, #f7ee1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************Deco gauche et droite nav bar****************/
/******Deco gauche*********/
.decoration-left {
  grid-column: 1 / 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/******Deco droite***********/
.decoration-right {
  grid-column: 3 / 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
/******img deco***********/
.deco-fixed,
.deco-relative {
  height: auto;
  width: 100%;
}
.deco-relative.open {
  display: none;
}
.deco-hamburger {
  display: none;
  width: 14%;
  height: auto;
}
.decoration-left #deco-left {
  align-self: flex-start;
}
.decoration-right #deco-right {
  align-self: flex-end;
  transform: scaleX(-1);
}
.deco-hamburger.open {
  display: block;
}
/*****************LOGO et hamburger**************/
.div-center {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.div-center a {
  display: flex;
  align-items: center;
}
.div-center a img {
  height: 50px;
  transition: all 0.4s ease-in-out;
}
.div-center a img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
/****************************************MEDIA QUERIES RESPONSIVE**************************************/
/********Passage tablette / telephone en portrait*******/

@media (min-width: 480px) {
  /********On enleve le hamburger*******/
  .hamburger-btn,
  .hamburger-menu,
  .deco-hamburger.open {
    display: none !important;
  }
  .deco-relative.open {
    display: block;
  }
  /****On rajoute 2 colonnes pour les liens****/
  .nav-bar {
    grid-template-columns: 0.75fr 1fr 0.5fr 1fr 0.75fr;
    height: 110px;
  }
  /****On fait apparaitre les liens*****/
  .links-left,
  .links-right {
    display: flex;
  }
  /****On réajuste les colonnes*****/
  .div-center {
    grid-column: 3 / 4;
    justify-content: center;
  }
  .div-center a img {
    height: 75px;
  }
  .decoration-right {
    grid-column: 5 / 6;
  }
}
/************AFFICHAGE Tablette****************/
@media (min-width: 767px) {
  .nav-bar {
    height: 130px;
  }
  .div-center a img {
    height: 90px;
  }
  .links-left ul li a,
  .links-right ul li a {
    font-size: 1.2rem;
  }
}
/*********AFFICHAGE Tablette/ PC Portable*******/
@media (min-width: 991px) {
  .nav-bar {
    height: 150px;
  }
  .div-center a img {
    height: 120px;
  }
  .links-left ul li a,
  .links-right ul li a {
    font-size: 1.4rem;
  }
}
/************AFFICHAGE PC Portable/PC petit***********/
@media (min-width: 1200px) {
  .nav-bar {
    height: 180px;
  }
  .div-center a img {
    height: 150px;
  }
  .links-left ul li a,
  .links-right ul li a {
    font-size: 1.6rem;
  }
  .br-links {
    display: none;
  }
}
/************AFFICHAGE PC moyen***********/
@media (min-width: 1400px) {
  .links-left ul li a,
  .links-right ul li a {
    font-size: 1.8rem;
  }
  .div-center a img {
    height: 160px;
  }
}
/************AFFICHAGE PC grand***********/
@media (min-width: 1600px) {
  .links-left ul li a,
  .links-right ul li a {
    font-size: 2rem;
  }
}

/******************************************HAMBURGER*************************************************/

/*************Menu-hamburger(pour mobile seulement)****************/
/****************hamburger bouton***********/
.hamburger-btn {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
.icon-hamburger {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.icon-hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background: #306936;
}
.icon-hamburger span:nth-child(1),
.icon-hamburger span:nth-child(3) {
  background: linear-gradient(90deg, #306936, #f7ee1e 50%, #306936);
}
.icon-hamburger span:nth-child(1) {
  top: 0%;
}
.icon-hamburger span:nth-child(2) {
  background: linear-gradient(90deg, #f7ee1e, #306936 50%, #f7ee1e);
  top: 33%;
}
.icon-hamburger span:nth-child(3) {
  top: 66%;
}
.icon-hamburger.open span:nth-child(1),
.icon-hamburger.open span:nth-child(3) {
  top: 34%;
  background: linear-gradient(-135deg, #306936, #f7ee1e 50%, #306936);
}
.icon-hamburger.open span:nth-child(1) {
  transform: rotate(135deg);
}
.icon-hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -50px;
}
.icon-hamburger.open span:nth-child(3) {
  transform: rotate(-135deg);
}
.script-hamburger {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
}
/*****menu hamburger********/
.hamburger-menu {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
/********ouverture du hamburger**********/
.hamburger-menu.open-menu {
  display: flex;
}
/***********Partie haute du hamburger:deco/menu/deco********/
.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}
/***********partie deco droite et gauche********/
.menu-top div {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu-top div img {
  height: 100%;
  width: 31%;
}
.top-deco-left {
  align-items: flex-start;
}
.top-deco-right {
  align-items: flex-end;
}
.top-deco-right img {
  transform: scaleX(-1);
}
/*********Partie menu au centre************/
.menu-top ul {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu-top ul li {
  height: 25%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8%;
}
.menu-top ul li img {
  height: 75%;
}
.menu-top ul li a {
  margin-left: 3%;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: white;
}
/***********Partie bottom du hamburger:deco//deco********/
/*********decoration en bas du menu hamburger******/
.menu-deco-bottom {
  width: 100%;
  height: 20%;
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
/********tailles des déco****/
.menu-deco-bottom img {
  width: 100%;
  height: auto;
}
/********Position des déco****/
.menu-deco-bottom img:first-of-type {
  grid-column: 1 / 2;
}
.menu-deco-bottom img:last-of-type {
  grid-column: 3 / 4;
  transform: scaleX(-1);
}
/****************************************FOOTER************************/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
}
/**************Partie à gauche logo + cp********************/
.footer-left {
  height: 80px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*************div gauche logo*********/
.footer-left-logo {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/********logo********/
.footer-left-logo img {
  height: 50px;
  width: auto;
}
/*************div gauche copyright*********/
.footer-left-copyright {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-left-copyright img {
  height: 15px;
  width: auto;
}
.footer-left-copyright p{
  color: white;
  font-size: 0.2em;
}
/***************Footer center réseaux*************/
.footer-center {
  height: 80px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*****Logo réseaux****/
.footer-center img {
  height: 30px;
  width: auto;
}
/***************Footer droite user + messagerie*************/
.footer-right {
  height: 100%;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*******************Partie admin**********************/
.footer-right-user{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*******icone user****/
.footer-right-user .icon-user{
  height: 25px;
  width: auto;
}
.footer-right-user .btn-s{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
/*******icone connecté/deconnecté****/
.footer-right-user .icon-status{
  height: 10px;
  width: 10px;
  cursor: pointer;
}
/***************Partie messagerie*****************/
.footer-right-mailbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-right-mailbox a img{
  height: 25px;
  width: auto;
}