* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  width: 100vw;
}
/************************************NAV-BAR******************************/

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 90px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
}
/******************Deco gauche et droite****************/
/******Deco gauche*********/
.decoration-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/******Deco droite***********/
.decoration-right {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/******img deco ***********/
.decoration-left img,
.decoration-right img {
  height: auto;
  width: 100%;
}
.decoration-right img:nth-of-type(1) {
  transform: rotate(180deg);
}
.decoration-left img:nth-of-type(1){
  transform: scaleY(-1);
}
.decoration-right img:nth-of-type(2){
  transform: scaleX(-1);
}
/*****************LOGO et hamburger**************/
.div-center {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  transition: all 0.4s ease-in-out;
}
.logo img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.hamburger-btn {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
.icon-hamburger {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.icon-hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background: #306936;
}
.icon-hamburger span:nth-child(1) {
  top: 0%;
}
.icon-hamburger span:nth-child(2) {
  background: #f7ee1e;
  top: 33%;
}
.icon-hamburger span:nth-child(3) {
  top: 66%;
}
.icon-hamburger.open span:nth-child(1) {
  transform: rotate(135deg);
  top: 34%;
}
.icon-hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -50px;
}
.icon-hamburger.open span:nth-child(3) {
  top: 34%;
  transform: rotate(-135deg);
}
.script-hamburger {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
}
/************************menu-hamburger***********/
.hamburger-menu {
  display: none;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: 0.5s ease-in;
}
.hamburger-menu.open-menu{
  transition: 0.5s ease-in;
  display: flex;
  height: 120px;
}
.menu-deco{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}
.menu-deco div:first-of-type,.menu-deco div:last-of-type{
  width: 15%;
  height: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu-deco div:first-of-type img,.menu-deco div:last-of-type img{
  width: 100%;
}
.menu-deco ul {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  list-style: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
}
.menu-deco ul li{
  list-style: none;
  height: 25%;
  margin: 0; 
  padding: 0; 
  }
.menu-deco ul li a {
  margin: 0; 
  padding: 0; 
  width: 75%;
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: white;
}
.deco-bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 30px;
  align-items: end;
}
.deco-bottom img{
  width: 100%;
  height: auto;
}
.deco-bottom img:first-of-type{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.deco-bottom img:last-of-type{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  transform: scaleX(-1);
}